.imgp {
    float: left;
    margin-right: 20px;
}
.pizza {
    clear: both;
    margin: 10px;
    height: 200px;
    background-color: beige;
    width: 700px;
}

.gray {
    color: gray;
}
.org {
    color: rgb(255, 92, 80);
}